body {
	background-color: #f2f2f2;
}

.password  {
	font-size: 30px;
}

.navbar {
	font-size: 30px;
}

.jumbotron {
	background-image: url("C:\Users\Sean Lehman\Desktop\dotnet-intro\assets");
	background-size: cover;

}

.hopes {
	text-align: center;
}